<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">Default Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<div th:fragment="titles">
    <h1>To-do List</h1>
    <h3 th:text="${title}"></h3>
</div>
<nav th:fragment="nav">
    <a href="/todo">Home</a>
    <a href="/todo/add">Add Task</a>
    <a href="/todo/about">About</a>
</nav>

</body>
</html>