<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<div th:replace="fragments :: titles"></div>
<nav th:replace="fragments :: nav"></nav>

<form method="post">
<table class="table table-striped">
    <tr>
        <th><i>Select</i></th>
        <th>Task</th>
        <th>Description</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td>
            <input type="checkbox" name="taskIds" th:value="${task.id}" th:id="${task.id}"/>
        </td>
        <td th:text="${task.name}"></td>
        <td th:text="${task.description}"></td>
    </tr>
</table>
    <input class="btn btn-success" type="submit" value="Task complete"/>
</form>

</body>
</html>
